$rumble-brand-primary-blue: #006ceb;
$rumble-brand-mid-blue: #004CA5;
$rumble-brand-navy: #002d63;
$rumble-brand-navy-darker: #05213D;
$rumble-brand-red: #FE5F55;
$rumble-brand-red-lighter: #FF7369;
$rumble-brand-red-darker: #EA4B41;
$rumble-brand-teal: #0EC3BC;
$rumble-brand-body-bg: #F8F9FB;
$rumble-brand-body-text: #0025BE;
$rumble-brand-accordion: #3F73BC;
$rumble-brand-warning: #FD754A;
